{%extends 'base.html' %}
{% load static %}


{% block content %}


    <section id="about" class="about">
        <div class="container" >
  
          <div class="section-title">
            <pre>  </pre>
            <span style="display:inline-block; width: YOURWIDTH;"></span>
            <pre>  </pre>
            <span style="display:inline-block; width: YOURWIDTH;"></span>
            <h2>About Us</h2>
            <pre>  </pre>
            <span style="display:inline-block; width: YOURWIDTH;"></span>
            <p>“The uncreative mind can spot wrong answers, but it takes a very creative mind to spot wrong questions.”</p>
          </div>
  
          <div class="row content">
            <div class="col-lg-6">
              <p>
                The proposed system will provide the club and societies of college the platform through which they can create events and manage the registrations of the students. The system will also provide the student fraternity the platform through which they can participate and register for various hackathons, workshops, quizzes etc. This platform devised shall help the students to explore various events conducted by different clubs and societies happening across the colleges. The student can track his/her history of registered events.
              <!-- <ul>
                <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
                <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
                <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
              </ul> -->
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <p>
                In today’s world of highly dynamic environments where college does not focus on academics only but also focuses on co-curricular activities which are managed by various college clubs and societies. These clubs and societies conduct events and competitions where the students can learn and explore various new domains. Usually the students find difficulty in registering for these events because registering for the event offline usually takes a lot of time and effort and requires physical presence, there is no single platform where they can register the events online.
              </p>
              <!-- <a href="#" class="btn-learn-more">Learn More</a> -->
            </div>
          </div>
  
        </div>
      </section>

      

{% endblock content %}

