
{% extends 'base.html' %}
{% load static %}


{% block content %}
  
  


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Evento</span></h2>
          <p class="animate__animated animate__fadeInUp">Your One Stop Solution for registering and managing the events.</p>
          <a href="about/" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown"></h2>
          <p class="animate__animated animate__fadeInUp">“Teaching is a creative profession, it is our duty as school leaders and education influencers to offer the right climate to foster innovation and support innovative teaching practices within our schools, and that's what will make our students succeed in the 21st century.”</p>
          <!-- <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a> -->
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown"></h2>
          <p class="animate__animated animate__fadeInUp">“Because, you know, resilience – if you think of it in terms of the Gold Rush, then you’d be pretty depressed right now because the last nugget of gold would be gone. But the good thing is, with innovation, there isn’t a last nugget. Every new thing creates two new questions and two new opportunities.” - Jeff Bezos</p>
          <!-- <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a> -->
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Icon Boxes Section ======= -->
    <section id="icon-boxes" class="icon-boxes">
      <div class="container">

        <div class="row">
          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-code-alt"></i></div>
              <h4 class="title"><a href="{% url 'hackathon' %}">HACKATHONS</a></h4>
              <p class="description">Participate in various Hackathons across the country.Develop and win existingg prizes.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="  bx bxs-wrench "></i></div>
              <h4 class="title"><a href="{% url 'workshop' %}">WORKSHOPS</a></h4>
              <p class="description">Participate in the exiciting workshops
                and get a chance to learn from various resource persons .</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bxs-trophy"></i></div>
              <h4 class="title"><a href="{% url 'comp' %}">COMPETITION</a></h4>
              <p class="description">Showcase your knowlwdge 
                to win exciting prizes.</p>
            </div>
          </div>

         
          

        </div>

      </div>
    </section><!-- End Icon Boxes Section -->

    <section id="icon-boxes" class="icon-boxes">
      <div class="container">

        <div class="row">
          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class=" bx bx-news"></i></div>
              <h4 class="title"><a href="{% url 'news' %}">NEWS</a></h4>
              <p class="description">Go through the ongoing current affairs and improve your knowledge .</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxs-school "></i></div>
              <h4 class="title"><a href="{% url 'college' %}">COLLEGE FESTIVALS</a></h4>
              <p class="description">Get a chance to participate in various college festivals.</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx  bx-question-mark"></i></div>
              <h4 class="title"><a href="{% url 'quiz' %}">QUIZZES</a></h4>
              <p class="description">Participate in various Hackathons across the country.Develop and win existingg prizes.</p>
            </div>
          </div>

         
          

        </div>

      </div>
    </section>
    

 

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>Teamwork is the ability to work together toward a common vision. The ability to direct individual accomplishments toward organizational objectives. It is the fuel that allows common people to attain uncommon results.</p>
        </div>

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static 'users/img/PASSPORT.jpg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Harsh Vardhan Sharma</h4>
                <span>CTO</span>
                <p>Computer Science Engineering under-graduate</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href="https://www.linkedin.com/in/harsh-sharma-a3b272185"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static 'event/assets/img/team/mohit.jpeg' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Mohit Bhargava</h4>
                <span>CEO</span>
                <p>Computer Science Engineering under-graduate</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href="https://www.linkedin.com/in/mohit-bhargava-702385182/"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>
          

          <div class="col-lg-6 mt-4" data-aos="fade-up" data-aos-delay="300">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="{% static 'event/assets/img/team/ayam.PNG' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Ayam Sharma</h4>
                <span>CFO</span>
                <p>Computer Science Engineering under-graduate</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href="https://www.linkedin.com/in/ayam-sharma-873147184/"> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          

        </div>

      </div>
    </section><!-- End Team Section -->

    

  </main><!-- End #main -->


  {% endblock content %}
 