{% extends 'base.html' %}
{% load static %}


{% block content %}
  

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>Quizes</li>
        </ol>
        <h2>Quizes</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->

  {% for quiz in quizes %}
    <section id="blog" class="blog">
      <div class="container">

        <div class="row">

          <div class="col-lg-4  col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <article class="entry">

              <div class="entry-img">
                <img src="{% static 'event/assets/img/blog-1.jpg' %}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="{% url 'blog'  %}">{{ quiz.title }}</a>


              </h2>
              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="icofont-user"></i> <a href="{% url 'blog'  %}">{{ quiz.club }}</a></li>
                  <li class="d-flex align-items-center"><i class="icofont-wall-clock"></i> <a href="{% url 'blog'  %}"><time datetime="2020-01-01">{{ hackathon.date }}</time></a></li>
                  <pre> </pre>
                </ul>

                <ul>
                  
                  <li class="d-flex align-items-center"><i class="bx bxs-location-plus"></i> <a href="{% url 'blog'  %}">{{ quiz.venue }}</a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>
                  {{ quiz.desc }}
                </p>
                <div class="read-more">
                  {% if flag %}
                  <a href="{% url 'eventreg' quiz.id %}">Register</a>
                  {% else %}
                  <a href="{% url 'user' %}">Register</a>
                  {% endif %}
                </div>
              </div>
              </article>
        </div>
        </div>
        </div>
        </section>


{% endfor %}
             

{% endblock content %}